{% extends 'bike_app/base.html' %}
{% block title %}Велосипе́д{% endblock %}
{% block content %}
<p><b>Велосипе́д</b> - приводимое в движение мускульной силой человека через ножные или (крайне редко) через ручные
    рычаги.
    Наиболее распространены двухколёсные велосипеды, но существуют также конструкции с тремя и более колёсами.
    Стал использоваться как средство передвижения ещё до широкого распространения городского общественного транспорта,
    в том числе автобусов, троллейбусов и трамваев. Также популярен среди туристов и в спортивных целях.
    В современном мире также используют электропривод для увеличения области использования велосипеда.
</p>
<p>Можно выделить три основные сферы применения велосипеда: </p>
<ol>
    <li><b>Транспорт</b>&nbsp;— велосипед рассматривается как транспортное средство для перевозки людей и грузов.</li>
    <li><b>Спорт</b>&nbsp;— существуют различные спортивные дисциплины с особыми требованиями к конструкции велосипеда.
    </li>
    <li><b>Развлечение, досуг</b>&nbsp;— велотуризм, катание в рекреационных зонах.
        Детские, подростковые, цирковые велосипеды и&nbsp;т.&nbsp;д.
    </li>
</ol>
{% endblock %}